@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin font($size, $weight, $height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin minSize($width, $height) {
  min-width: $width;
  min-height: $height;
}

@mixin maxSize($width, $height) {
  max-width: $width;
  max-height: $height;
}
