* {
  box-sizing: border-box;
}

a {
  transition: all .2s ease;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f7f8fa;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
