<template>
  <main class="container">
    <logo />
  </main>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
.container {
  @include size(100vw, 100vh);
  @include flex(row, center, center);
}
</style>
